/* Custom styles added to demo */

.twitter-tweet {
    margin: auto;
}

iframe {
    border-radius: var(--radius) !important;
}

.home-info ul {
    padding-inline-start: 20px;
}

.entry-cover img {
    border: 1px solid var(--border);
}

body::before {
    content: "";
    position: fixed;
    top: 0; left: 0; width: 100vw; height: 100vh;
    
    background-image: url("https://github.com/user-attachments/assets/1d6a1e06-7d98-48e4-8a10-034206ba0a3b");
    background-size: cover;
    background-position: center;
    opacity: 0.04; 
    z-index: -1;   
    pointer-events: none;
}
